@model Sistema_de_Registro_de_Estudiantes.Models.Alumno

<html>

<head>
	<meta name="viewport" content="width=device-width" />
	<title>Area de administracion</title>
</head>

<body>
	<table class="table table-hover">
		<thead>
			<tr>
				<th>Carrera</th>
				<th>Semestre</th>
				<th>Grupo</th>
				<th>Estado</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>@Html.DisplayFor(model => model.Carrera)</td>
				<td>@Html.DisplayFor(model => model.Semestre)</td>
				<td>@Html.DisplayFor(model => model.Grupo)</td>
				<td><i class="fa fa-check"></i></td>
			</tr>
		</tbody>
	</table>
</body>

</html>
