<!DOCTYPE html>
<!-- Created By CodingLab - www.codinglabweb.com -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="UTF-8">
    <!---<title> Responsive Registration Form | CodingLab </title>--->
	  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   </head>
<body>
  <div class="container">
    <div class="title">Reinscripción</div>
      <form method="post" enctype="multipart/form-data" asp-action="Reinscripcion">
        <div class="user-details">
          <div class="input-box">
            <!-- Foto input -->
						<label for="postedFiles" class="control-label">RFC</label>
						<input name="postedFiles" id="postedFiles" type="file" class="form-control" />
          </div>
          <div class="input-box">
            <!-- Foto input -->
						<label for="postedFiles" class="control-label">Acta Nacimiento</label>
						<input name="postedFiles" id="postedFiles" type="file" class="form-control" />
          </div>
          <div class="input-box">
            <!-- Foto input -->
						<label for="postedFiles" class="control-label">Curp</label>
						<input name="postedFiles" id="postedFiles" type="file" class="form-control" />
          </div>
        </div>
        <div class="button">
          <input type="submit" id="submit_button" value="Enviar">
        </div>
      </form>
  </div>
</body>
</html>
