@model Sistema_de_Registro_de_Estudiantes.Models.Alumno

@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Login Form Design One | Fazt</title>
    <link rel="stylesheet" href="~/css/main.css" />
</head>
<body>

    <div class="login-box">
        <img src="~/images/Escudo_UAZ.jpg" class="avatar" alt="Avatar Image">
        <h1>Ingresar</h1>
        <form asp-action="Login">
            <!-- USERNAME INPUT -->
						<label asp-for="Matricula" class="control-label"></label>
						<input asp-for="Matricula" class="form-control" />
            <span asp-validation-for="Matricula" class="text-danger"></span>
            <!-- PASSWORD INPUT -->
						<label asp-for="Password" class="control-label"></label>
						<input asp-for="Password" type="password" class="form-control" />
            <span asp-validation-for="Password" class="text-danger"></span>

            <input type="submit" value="Login">
            <a href="#">¿Olvidaste tu contraseña?</a><br>
            <a asp-area="" asp-controller="Login" asp-action="Register">¿No tienes cuenta?</a>
        </form>
    </div>
</body>
</html>
