@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<link rel="stylesheet" href="~/css/hommie.css" />
<body>
    <section id="pagSections">
        <div class="izq">
            <div class="container">
                <img src="~/images/alumno3.jpg" alt="Avatar" class="image">
               
                <div class="overlay">
                    <div class="text">Hello World</div>
                </div>
            </div>
        </div>
        <div class="cent">
            <div class="container">
                <img src="~/images/alumno1.jpg" alt="Avatar" class="image">
                
                <a class="overlay" asp-area="" asp-controller="Login" asp-action="Index">
                    <div class="text">Login</div>
                </a>
            </div>

        </div>
        <div class="der">
            <div class="container">
                <img src="~/images/alumno2.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">Servicio Social</div>
                </div>

            </div>
        </div>

</section>
</body>

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="AreaAdmin" asp-controller="AreaAdmin" asp-action="Index">AreaAdmin</a>
        </li>
    </ul>

</div>
 -->
