@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<link rel="stylesheet" href="~/css/hommie.css" />
<body>
    <section id="pagSections">
        <div class="izq">
            <div class="container">
                <img src="https://stat.ameba.jp/user_images/20210107/13/naganun/b2/77/j/o0651108014878223753.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">Hello World</div>
                </div>
            </div>
        </div>
        <div class="cent">
            <div class="container">
                <img src="https://www.tonica.la/__export/1587843538349/sites/debate/img/2020/04/25/sailor-moon-eternal.jpg_423682103.jpg" alt="Avatar" class="image">
                
                <div class="overlay">
                    <div class="text">Hello World</div>
                </div>
            </div>

        </div>
        <div class="der">
            <div class="container">
                <img src="https://kawaii-mobile.com/wp-content/uploads/2017/05/Mahou-Shoujo-Ikusei-Keikaku-Snow-White.iPhone-4-wallpaper-640x960-1.jpg" alt="Avatar" class="image">
                <div class="overlay">
                    <div class="text">Hello World</div>
                </div>

            </div>
</section>
</body>

<!--
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <ul class="navbar-nav flex-grow-1">
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="" asp-controller="Login" asp-action="Index">Login</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-area="AreaAdmin" asp-controller="AreaAdmin" asp-action="Index">AreaAdmin</a>
        </li>
    </ul>

</div>
 -->
