@{
    ViewData["Title"] = "Home Page";
    Layout = null;
}
<html>
<head>

    <meta charset="utf-8">
    <meta name='viewport' content='width=device-width, initial-scale=1'>

    <title>Sistema de Registro de estudiantes</title>

    <link rel="stylesheet" media="screen" href="https://cpwebassets.codepen.io/assets/fullpage/fullpage-4de243a40619a967c0bf13b95e1ac6f8de89d943b7fc8710de33f681fe287604.css" />
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,400italic,700,700italic,900,900italic&display=swap" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/hommie.css" />
</head>

<body onLoad="talk()">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script>$("#open-overlay").trigger('click');</script>
    <div class="overlay-navigation">
        <nav role="navigation">
            <ul>
                <li><a asp-area="" asp-controller="login" asp-action="" data-content="orem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse dolor urna, ullamcorper ut condimentum eget, ornare non ipsum.">Estudiantes</a></li>
                <li><a href="#" data-content="Pellentesque pretium nisl vel interdum ultrices. In ac metus id purus vestibulum tincidunt. Lorem ipsum dolor sit amet, consectetur adipiscing elit.">Nuevo ingreso</a></li>
                <li><a href="#" data-content="A partir del segundo semestre 2021">Servicio social</a></li>
            </ul>
        </nav>
    </div>

    <section class="home">

        <div id="open-overlay" class="open-overlay">

        </div>
    </section>

    <script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/velocity/1.2.3/velocity.ui.min.js'></script>
    <script id="rendered-js">
        function talk() {
            $('.open-overlay').css('pointer-events', 'none');
            var overlay_navigation = $('.overlay-navigation'),
                top_bar = $('.bar-top'),
                middle_bar = $('.bar-middle'),
                bottom_bar = $('.bar-bottom');

            overlay_navigation.toggleClass('overlay-active');
            if (overlay_navigation.hasClass('overlay-active')) {

                top_bar.removeClass('animate-out-top-bar').addClass('animate-top-bar');
                middle_bar.removeClass('animate-out-middle-bar').addClass('animate-middle-bar');
                bottom_bar.removeClass('animate-out-bottom-bar').addClass('animate-bottom-bar');
                overlay_navigation.removeClass('overlay-slide-up').addClass('overlay-slide-down');
                overlay_navigation.velocity('transition.slideLeftIn', {
                    duration: 300,
                    delay: 0,
                    begin: function () {
                        $('nav ul li').velocity('transition.perspectiveLeftIn', {
                            stagger: 150,
                            delay: 0,
                            complete: function () {
                                $('nav ul li a').velocity({
                                    opacity: [1, 0]
                                },
                                    {
                                        delay: 10,
                                        duration: 140
                                    });

                                $('.open-overlay').css('pointer-events', 'auto');
                            }
                        });

                    }
                });


            } else {
                top_bar.removeClass('animate-out-top-bar').addClass('animate-top-bar');
                middle_bar.removeClass('animate-out-middle-bar').addClass('animate-middle-bar');
                bottom_bar.removeClass('animate-out-bottom-bar').addClass('animate-bottom-bar');
                overlay_navigation.removeClass('overlay-slide-up').addClass('overlay-slide-down');
                overlay_navigation.velocity('transition.slideLeftIn', {
                    duration: 300,
                    delay: 0,
                    begin: function () {
                        $('nav ul li').velocity('transition.perspectiveLeftIn', {
                            stagger: 150,
                            delay: 0,
                            complete: function () {
                                $('nav ul li a').velocity({
                                    opacity: [1, 0]
                                },
                                    {
                                        delay: 10,
                                        duration: 140
                                    });

                                $('.open-overlay').css('pointer-events', 'auto');
                            }
                        });

                    }
                });


            }
        };
    </script>
</body>
</html>

