<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<title>@ViewData["Title"] - Sistema_de_Registro_de_Estudiantes</title>
	<link rel="stylesheet" href="~/css/main.css" />
  <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
		<div class="main">
		<input type="checkbox" id="side-bar-btn"/>
		<div class="barra-navegacion" id="side-bar">
			<div class="image-container">
				<img src="~/images/Escudo_UAZ.jpg" class="avatar" alt="Avatar Image">
			</div>
			<ul>
				<li><a asp-area="AreaAdmin" asp-controller="AreaAdmin" asp-action="Index">Mi cuenta</a></li>
				<li><a href="#">Reinscripción</a></li>
			</ul>
			<ul>
				<li><a href="#">Horarios </a></li>
				<li><a href="https://ingsoftware.reduaz.mx/moodle/course/" target="_blank">Moodle</a></li>
				<li><a href="#">Materias</a></li>
			</ul>
			<ul>
				<li><a href="#">Correo Institucional</a></li>
			</ul>
			<ul>
				<li><a asp-area="" asp-controller="Home" asp-action="Index">Salir</a></li>
			</ul>
		</div>
		<div class="columna-derecha">
			<div class="nav-bar">
				<input type="checkbox" name="hide-menu" id="hide-menu" onchange="toggleHide()"/>
				<label for="hide-menu" class="btn-hide">
					<i class="fa fa-caret-left unhidden" style="font-size:40px"></i>
					<i class="fa fa-th-large hidden" style="font-size:24px"></i>
				</label>
				<div class="user-bar">
					<img src="~/images/guts.jpeg" width="40px" height="40px" />
					<p>El tripas griiifiiith noooo</p>
				</div>
			</div>

			<div class="area-contenido">
				@RenderBody()
			</div>
		</div>
	</div>

	<script src="~/lib/jquery/dist/jquery.min.js"></script>
	<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
	<script src="~/js/site.js" asp-append-version="true"></script>
	<script src="~/js/barra-navegacion.js"></script>
	@await RenderSectionAsync("Scripts", required: false)
</body>

</html>
